
* {
  /*border: 1px solid rgb(213, 114, 114);*/
  margin: 0;
}



header {
  width: 960px;
  margin: 30px auto;
  padding-bottom: 30px;
  height: 45px;
}

header img {
  float: left;
}

header div {
  float: left;
  margin-left: 15px;
}

header nav {
  float: right;
}

nav ul {
  display: block;
}

nav ul li {
  display: inline-block;
  margin: 11.5px auto;
}

header nav+div {
  height: 20px;
  margin-top: 30px;
  float: left;
  clear: both;
  width: 960px;
  margin-left: 0;
  background: repeating-linear-gradient(
    45deg,
    white,
    white 2.5px,
    rgb(198, 198, 198) 2.5px,
    rgb(198, 198, 198) 5px
  );
}

#rss {
  margin-left: 10px;
}
